*{
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  background-color: black;
  height: 90vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header-section{
  background-color: #19b6fa;
  height: 10vh;
  display: flex;
  align-items: center;
}

.home{
  margin-left: 5%;
  
}

.card-div {
  background-color: white;
  width: 80%;
  height: 60vh;
  margin-left: 10%;
}

.add-form {
  background-color: white;
  width: 40%;
  margin-left: 30%;
  height: 45vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input{
  display: block;
  margin-top: 5%;
}

input:focus{
  outline: solid 2px #61dafb ;
}

.add{
  margin: 5%;
}

.add-user{
  color: #19b6fa;
}

.edit-div{
  color: white;
  margin: 1vh 10% 7vh 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.index {
  text-align: right;
  margin-right: 2%;
}

.buttons-div {
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  background-color: #19b6fa;
  border-color: #19b6fa;
  box-shadow: 1px 1px 5px #39c2fc;
  border-radius: 10px;
  padding: 3% 6%;
  border-style: none;
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
}

.btn:hover{
  background-color: #39c2fc;
  transform: scale(.95);
  color: black;
}

.next, .prev{
  cursor: pointer;
}

.person-info{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 8%;
}

.name{
  border-bottom: 2px solid #19b6fa;
  margin-bottom: 3%;
}

.more-info{
  font-size: larger;
  margin: 2px 0;
}

.list-title{
  margin-top: 3%;
}


ol{
  margin-left: 8%;
  font-size: large;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
}

.hide {
  display: none;
}